* {
  box-sizing: border-box;
  outline: 0;
  border: 0;
  margin: 0;
}

.container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  cursor: pointer;

  &.disabled {
    pointer-events: none;
    cursor: default;
  }
}

.checkbox {
  width: 2.625rem;
  height: 2.625rem;
  padding: 0.5625rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0ms;


  &:hover {
    border-radius: 50%;
    background-color: #1976d20a;
    transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }

  .input {
    width: 1.125rem;
    height: 1.125rem;
    cursor: pointer;
  }
}

.label {
  cursor: pointer;
}
